.carousel{
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightgray;
}

.carousel-item {
    width: 100%;
    text-align: center;

    img {
        max-height: 60vh;
    }

    h3 {
        font-size: 1.6rem;
        margin-bottom: 2%;
    }

    p {
        font-size: 1.2rem;
    }
}