header {
    width: 100%;
    height: 150px;
    background-color: lightcyan;
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    img {
        height: 100%;
        grid-area: 1 / 1 / 2 / 2;
    }

    h1 {
        grid-area: 1 / 2 / 2 / 3;
        font-size: 4rem;
        text-align: center;
    }
}