.patternPage{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.patternPageLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patternPageRight {
    width: 40%;
    
    img {
        width: 100%;
    }
}